* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f7f9fc;
    color: #4a4747;
}

/* Header */
header {
    background: #5165a5;
    padding: 15px 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

nav a {
    color: #fff;
    margin-left: 20px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

/* Hero */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 8%;
    background: #fff;
}

.hero-text {
    max-width: 50%;
}

.hero-text h2 {
    font-size: 40px;
    margin-bottom: 15px;
}

.hero-text p {
    font-size: 18px;
    margin-bottom: 25px;
}

.btn {
    background: #a05305;
    color: #090707ed;
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 24px;
}

.btn:hover {
    background: #cb8133;
}

.hero-img img {
    width: 420px;
    border-radius: 12px;
}

/* Categories */
.categories {
    padding: 50px 8%;
    text-align: center;
}

.category-box {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.card {
    background: #fff;
    padding: 25px;
    width: 150px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    font-size: 20px;
}

/* Steps */
.steps {
    background: #e8f5e9;
    padding: 50px 8%;
    text-align: center;
}

.step-box {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.step {
    background: #fff;
    padding: 2rem;
    width: 15rem;
    height: 10rem;
    border-radius: 10px;
    font-weight: bold;
    font-size: 25px;
}
.adoption-process {
    background: #ffffff;
    padding: 70px 8%;
    text-align: center;
}

.adoption-process h2 {
    font-size: 20px;
    color: #4a4747;
    letter-spacing: 1px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.adoption-process h1 {
    font-size: 36px;
    margin-bottom: 30px;
    color: #333;
}

.adopt-btn {
    display: inline-block;
    padding: 16px 35px;
    background-color: #a05305;
    color: #0d0b0b;
    text-decoration: none;
    border-radius: 24px;
    font-size: 20px;
    font-weight: bold;
}

.adopt-btn:hover {
    background-color: #cb8133;
}

/* Footer */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 25px;
}

/* Adoption Section */
.adoption-section {
    padding: 70px 8%;
    background: #f7f9fc;
}

.adoption-header {
    text-align: center;
    margin-bottom: 40px;
}

.adoption-header h2 {
    /* color: #1e231e; */
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.adoption-header h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.adoption-header p {
    color: #555;
}

/* Form */
.adoption-form {
    max-width: 750px;
    margin: auto;
    background: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 6px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 15px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.form-group textarea {
    resize: none;
    height: 90px;
}

.adopt-btn {
    width: 60%;
    padding: 14px;
    background: #a05305;
    color: #090707ed;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    display: block;
    margin: 20px auto 0;
}

.adopt-btn:hover {
    background: #cb8133;
}
