{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>{% block title %}PetCare{% endblock %}</title>
    
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <a href="{% url 'home' %}" class="logo-title">
            <img src="{% static 'logo.png' %}" alt="PetCare Logo" class="site-logo">
            <h1>PetCare</h1>
        </a>

        <nav>
            <a href="{% url 'about' %}">About Us</a>
            <a href="{% url 'contact' %}">Contact Us</a>
            <a href="{% url 'services' %}">Services</a>
            {% comment %} <a href="#">Blog</a> {% endcomment %}
        </nav>
    </header>

    <section class="hero">
        <div class="hero-text">
            <h2>{{ site_settings.hero_title|default:"Find Your Perfect Pet Companion" }}</h2>
            <p>{{ site_settings.hero_subtitle|default:"Adopt loving pets and give them a forever home" }}</p>
        </div>
        <div class="hero-img">
            <img src="/media/images/combined.jpg" alt="Pet">
        </div>
    </section>

    <main>
        {% block content %}{% endblock %}
    </main>


    <footer>
        <p>{{ site_settings.footer_text|default:"© 2026 PetCare. All rights reserved." }}</p>
    </footer>

    {% block javascript %}{% endblock %}

</body>
</html>
