{% extends "base.html" %}
{% load static %}




{% block content %}
<body>
    <!-- Categories -->
    <section class="categories">
        <h1>Pet Categories</h1>
        <div class="category-box">
            <div class="card">🐶 Dogs</div>
            <div class="card">🐱 Cats</div>
            <div class="card">🐰 Rabbits</div>
            <div class="card">🦜 Birds</div>
        </div>
    </section>

    <!-- Working Procedure -->
    <section class="steps">
        <h2>Working Procedure</h2>
        <div class="step-box">
            <div class="step">1<br> Browse Pets</div>
            <div class="step">2<br> Choose One</div>
            <div class="step">3<br>Application</div>
            <div class="step">4<br> Adopt & Love</div>
        </div>
    </section>

    <!-- Adoption Process -->

    <section class="adoption-process">
    <h1>Adoption Process</h1>
    <h2>For Adopt Your Perfect One</h2>
    <a href="{% url 'adoption_process' %}" class="adopt-btn">Click Here</a>
    </section>

</body>
{% endblock %}
